.container1 {
  position: relative;
  width: 75%;
  display: inline-block;
  border: solid;
}

.image1 {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 300px;
}


.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: sans-serif;
}
.overlayFade{
  height: 100%;
  width:100%;
  top:0;
  left:0;
  background-color: #ff946bbd;
}
.overlay {
  position: absolute;
  opacity: 0;
  transition:all .3s ease;
  background-color: black;
}
.container:hover .overlay,.container:hover .overlayFade {
  opacity: .7;
}
